html, body {
    margin: 0;
    padding: 0;
}



h1 {
    font-family: 'Courier New', Courier, monospace;
}

p {
    font-family: 'Courier New', Courier, monospace;
}

#center-div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    flex-wrap: wrap;
}

#return {
    font-weight: bold;
    font-size: large;
    margin-left: 20px;
    margin-top: 15px;
    transition: all .2s ease-in-out; 
    overflow: hidden;
    position: absolute;
    top: 20px;
    left: 20px;
}

#return:hover {
    transform: scale(1.1);
}

a {
    color: black;
    text-decoration: none;
}

#grid-div {
    width: 30vw;
    display: grid;
    row-gap: 3px;
    column-gap: 8px;
    grid-template-columns: 33% 34% 33%;
    grid-template-rows: auto auto 30px 100px 100px;
}

#title {
    grid-column: 1/4;
}

#patter {
    grid-column: 1/4;
}

#inputBox {
    margin: 0;
    grid-column: 1/4;
    border-color: darkgrey;
    border-width: 1px;
    border-style: outset;
    border-radius: 5px;
    overflow-wrap: break-word;
    padding: 10px;
    text-align: left;
    resize: none;
}

#outputBox {
    height: 100%;
    margin: 0;
    grid-column: 1/4;
    border-color: darkgrey;
    border-width: 1px;
    border-style: outset;
    border-radius: 5px;
    overflow-wrap: break-word;
    padding: 10px;
    text-align: left;
}
@media screen and (max-width: 80vh) {
    #grid-div {
        width: 70vw;
        border-width: 3px;
        row-gap: 10px;
        height:fit-content
    }

    h1 {
        font-size: 8vw;
    }

    p {
        font-size: 2vw;
    }
}